---
import Card from "../Card/Card.astro";
---

<Card title="Summary" colSpan="md:col-span-1" rowSpan="md:row-span-6">
  <div slot="expanded">
    <div class="flex flex-col gap-2">
      <div class="text-sm font-light">
        <p>
          Computer engineering student with experience in KiCAD/Altium, SolidWorks, 3DPrinting, C, C++ and Python. <br> <br />
          Seeking an internship or co-op for 2025, with a focus on hardware design or embedded systems engineering.
        </p>
        <p>
          University of Houston, Cullen College of Engineering - May 2026<br><br /> 
          Bachelor of Science in Computer Engineering, Minoring in Mathematics.<br><br />
      </p>
      <p>
        Skills: KiCAD, Python, MATLAB, Arduino, C/C++, SolidWorks (CSWA Certified), Digital Logic Design, Circuit Analysis, 3D 
        Modelling, 3D Printing, HTML/ CSS/JS, Git, PCB Design, Mechanical Design, PCB Design, Biomedical Design.
        Languages: English (Native Fluency), Spanish (Native Fluency).
        Interests: Robotics, FPGA Technology, Space Architecture/Exploration, PCB & VLSI Design.
      </p>
    </div>
  </div>
</Card>