---
import Button from "../Button.astro";
interface Props {
  title?: string;
  body?: string;
  expandedBody?: string;
}

const { title, body, expandedBody } = Astro.props;
---

<>
  <div class="header flex justify-between items-center relative">
    {title && <h2 class="text-xl font-bold m-0">{title}</h2>}
    <div class="hidden-when-collapsed absolute top-[-10px] right-0">
        <Button
            className="close-btn"
            style="background-color: var(--card-bg); border: none; font-size: 1.25rem; padding: 0.25rem;"
        >
            &times;
        </Button>
    </div>
  </div>

  {body && <p class="m-0 font-light text-base">{body}</p>}

  <slot />

  <div class="hidden-when-collapsed mt-4 p-2 border-t border-gray-500 relative">
    {expandedBody && <p class="mb-2">{expandedBody}</p>}
    <slot name="expanded" />
  </div>
</>