---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Hi, I'm Gabriel A. Baquero Sanchez, a junior Computer Engineering student from The Woodlands, Texas.
        <br />
        My primary tools of choice include:
      </p>
      <ul class="list-disc list-inside">
        <li>KiCAD</li>
        <li>Altium</li>
        <li>MATLAB</li>
        <li>SolidWorks</li>
        <li>C</li>
        <li>C++</li>
        <li>Python</li>      
      </ul>
    </div>
    <p class="text-sm font-light">
      I'm passionate about robotics, space exploration, and VLSI design. I enjoy working on projects that combine engineering and creativity.
    </p>
    <p class="text-sm font-light">
      I strive to apply the best tools and solutions for each project, constantly learning and adapting to new challenges.
    </p>
  </div>
</Card>