---
import NestedCard from "../Card/NestedCard.astro";
---

<NestedCard title="Analog Synthesizer " expandable={true} colSpan="md:col-span-1" rowSpan="md:row-span-1" >
  <!-- Content that is always visible -->
  <div slot="expanded">
    <p>
      DIY analog audio synthesizer with oscillators & filters. 
      Soldered custom boards for VCO, VCF, and LFO modules, enabling unique soundscapes.
    </p>
  </div>
</NestedCard>
