---
import NestedCard from "../Card/NestedCard.astro";
---

<NestedCard title="Decoding Voyagers Golden Record" expandable={true}>
  <!-- Content that is always visible -->
  <div slot="expanded">
    <p>
      DIY analog audio synthesizer with oscillators & filters. 
      Soldered custom boards for VCO, VCF, and LFO modules, enabling unique soundscapes.
    </p>
  </div>
</NestedCard>